<h1>Overview of city bikes available in Oslo</h1>
{{ status_string }}
<br>
<table>
    <tr>
        <td><b>Station</b></td>
        <td><b>Available bikes &nbsp</b></td>
        <td><b>Available locks</b></td>
    </tr>
    {% for station_name, lockbikestatus in availability_lists.items %}
        <tr>
            <td>  {{ station_name }} &nbsp</td>
            <td>  {{ lockbikestatus.bikes }} </td>
            <td>  {{ lockbikestatus.locks }} </td>
        </tr>
    {% endfor %}
</table>
<script>
    window.onload = function () {
        setTimeout(function () {
            location.reload()
        }, {{ refresh_rate }});
    };
</script>
<b> Last updated: {{ last_updated }}</b>
